MONGO_ROOT_USERNAME=chat
MONGO_ROOT_PASSWORD=chat-dev-password
MONGO_DATABASE=batepapo
MONGO_PORT=27017
BACKEND_PORT=3000
FRONTEND_PORT=8080
MONGODB_URI=mongodb://chat:chat-dev-password@mongo:27017/batepapo?authSource=admin
ADMIN_API_TOKEN=local-dev-admin-token-change-this-32chars
